[submodule "skills-vendor/gregoryfoster-skills"]
	path = skills-vendor/gregoryfoster-skills
	url = https://github.com/gregoryfoster/skills.git
[submodule "skills-vendor/obra-superpowers"]
	path = skills-vendor/obra-superpowers
	url = https://github.com/obra/superpowers.git
